.form-container {
    width: 360px;
    background-color: white;
    margin: 2em auto 1em;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding: 10px;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
  }
  
  .success-message {
    font-family: "Roboto", sans-serif;
    background-color: #3f89f8;
    padding: 15px;
    color: white;
  }
  
  .form-field {
    margin: 10px 0 10px 0;
    padding: 15px;
    font-size: 16px;
    border: 0;
    font-family: "Roboto", sans-serif;
  }
  
  .form-h3{
    text-transform: uppercase;
    text-align: center;
  }

  span {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: red;
    margin-bottom: 15px;
  }
  
  input, textarea {
    background: #f2f2f2;
  }
  
  textarea{
    height: 8em;
    resize: none;
  }

  .error {
    border-style: solid;
    border: 2px solid #ffa4a4;
  }
  
  .form-btn {
    background: var(--primary);
    color: #000;
    cursor: pointer;
    font-weight: bold;
  }
  
  .form-btn:disabled {
    cursor: default;
  }

  .land-container{
    margin: 1em 0;
}
.land-h1{
    color: #000;
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    font: bold;
    margin-bottom: 1em;
}

.land-p{
    color: #000;
    font-size: 1.5em;
    text-align: center;
}