.land-container{
    margin: 1em 0;
}
.land-h1{
    color: #000;
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    font: bold;
    margin-bottom: 1em;
}

.land-p{
    color: #000;
    font-size: 1.5em;
    text-align: center;
}